body {
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.container {
  max-width: 400px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
*/

.box {
  width: 5px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.column {
  column-count: 10;
}

